*{
    color:white;}

body{
    background-color:black;
    margin: 0;
    padding: 0;
}
.container{
    width:960px;
    margin:0 auto;
}
header{
    background-image: url("https://scontent.ficn1-1.fna.fbcdn.net/v/t1.0-9/16996333_1414198605278347_2533747137376124870_n.jpg?oh=6a42bdffeedd5b93e1371dc0b153ee85&oe=5953875B");
    background-position:center;
    background-size:cover;
    height:600px;
  
}


h1{
  text-align:right;
  color:black;
    font-family:'Times new roman', 'Quicksand';
    font-size:100px;
    padding-top:100px;
}

h2{
     color:black;
    font-family:'Times new roman', 'Quicksand';
    font-size:60px;
  text-align:right;
  margin-right:100px;
}

h3{
    font-size:18px;
}

h4{
    text-align:left;
    font-size:30px;
    float:left;
    margin: 0 auto;
    padding:0;
}


p{font-size: 18px;
text-align:center;
    
}

.pic{
    width:300px;
    height:300px;
    display:block;
    margin:0px;
  
}


.article1{
    float:left;
    margin:10px;
    text-align:center;
}

.article2{
    float:left;
    margin:10px;
    text-align:center;
}
.article3{
    float:left;
     margin:10px;
     text-align:center;
}
nav{
   background-color: white;
   position:fixed;
   width:100%;
  height:80px;
  line-height:80px;
    
}

.nav-btn{margin: 0 auto;

}
ul{
    margin:0 auto;
    float:right;
    list-style: none;
    
}

li{
    font-family:'times new roman';
    font-size:18px;
   margin-right:30px;
   float:right;
}

section{
   height:800px;
   margin-top:100px;
    
}

footer{
    height:60px;
    background-color: crimson;
    text-align:center;
}